.App {
  text-align: center;
}
.Danger {
  color: brown;
}
.Bold {
  font-weight: bold
}
.App button{
  border: 1px solid red;
  padding: 16px;
  background-color: brown;
  font: inherit;
  color: azure;
  cursor: pointer;
}
.App button:hover{
  background-color: salmon;
  border: 2px solid sandybrown;
  color: black;
}
.App button.Green{
  background-color: green;
}

.App button.Green:hover{
  background-color: lightseagreen;
  color: black;
}