.Danger {
    color: brown;
  }
  .Bold {
    font-weight: bold
  }
  .Button{
    border: 1px solid red;
    padding: 16px;
    background-color: brown;
    font: inherit;
    color: azure;
    cursor: pointer;
  }
  .Button:hover{
    background-color: salmon;
    border: 2px solid sandybrown;
    color: black;
  }
  .Button.Green{
    background-color: green;
  }
  
  .Button.Green:hover{
    background-color: lightseagreen;
    color: black;
  }